.controlPanel {
    margin-left: 20px;
    margin-bottom: 20px;
}

.controlPanel .historyControl {
    display: inline-block;
}

.controlPanel .historyControl span {
    vertical-align: text-bottom;
}