.buttonPanel {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
}

.roomsContent .roomsTable tbody ul {
    list-style-type: none;
}

.roomsContent .roomsTable tbody .createFurnitureLink {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
    float: right;
}

.roomsContent .furnitureControls {
    display: block;
    float: right;
}

.roomsContent .furnitureControls a {
    margin-left: 3px;
    margin-right: 3px;
}
    
.roomsContent .furnitureControls .addFurniture {
    background-color: greenyellow;
}   

.roomsContent .furnitureControls .removeFurniture {
    background-color: pink;
}

.roomsContent .furnitureControls .moveFurniture {
    background-color: lightblue;
}