.buttonPanel {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
}

.roomsContent .roomsTable tbody ul {
    list-style-type: none;
}

.roomsContent .roomsTable tbody ul li {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.roomsContent .roomsTable tbody ul li:hover {
    background-color: #ffff99;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.roomsContent .roomsTable tbody ul li.emptyRoom {
    font-style: italic;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: background-color 0.5s ease;
}

.roomsContent .roomsTable tbody ul li.emptyRoom:hover {
    font-style: italic;
    background-color: #fffdd1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: background-color 0.5s ease;
}

.roomsContent .roomsTable tbody .createFurnitureLink {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
    float: right;
}

.roomsContent .furnitureControls {
    display: block;
    float: right;
}

.roomsContent .furnitureControls a {
    margin-left: 3px;
    margin-right: 3px;
}
    
.roomsContent .furnitureControls .addFurniture {
    background-color: greenyellow;
}   

.roomsContent .furnitureControls .removeFurniture {
    background-color: pink;
}

.roomsContent .furnitureControls .moveFurniture {
    background-color: lightblue;
}

.roomsContent .linkPanel {
    margin-left: 20px;
    margin-top: 30px;
}

.roomsFilters {
    margin-left: 20px;
    margin-bottom: 20px;
}

.roomsNotFound {
    margin-left: 30px;
    margin-top: 40px;
}

.roomsContent .roomsFilters .dateFilter {
    display: inline-block;
}

.roomsContent .roomsFilters .recreateDatabaseLink {
    float: right;
    margin-right: 20px;
}