<div class="addRoomDialog modalDialog" title="Создать комнату">
    <p class="validateTips">Все поля должны быть заполнены</p>
    <form>
        <fieldset>
            <label for="name">Название комнаты</label>
            <input type="text" name="name" id="roomCreateNameField" class="text ui-widget-content ui-corner-all">
            <label for="email">Дата</label>
            <input type="text" name="date" id="roomCreateDateField" class="text ui-widget-content ui-corner-all">
            <input type="submit" tabindex="-1" style="position: absolute; top: -1000px">
        </fieldset>
    </form>
</div>