<div class="moveFurnitureDialog modalDialog" title="Переместить мебель">
    <p class="validateTips">Все поля должны быть заполнены</p>
    <form>
        <fieldset>
            <input type="hidden" id="moveFurnitureRoomNameField">
            <input type="hidden" id="moveFurnitureTypeField">
            <label for="date">Дата</label>
            <input type="text" name="date" id="moveFurnitureDateField" class="text ui-widget-content ui-corner-all">
            <label class="roomNameMoveToFieldLabel" for="roomNameMoveToField">Переместить мебель в комнату</label>
            <input type="text" name="roomNameMoveToField" id="moveFurnitureRoomMoveToField" class="text ui-widget-content ui-corner-all">
            <input type="submit" tabindex="-1" style="position: absolute; top: -1000px">
        </fieldset>
    </form>
</div>